.melynasTekstas{color: blue;}
.underline{ text-decoration-line: underline;}
.pavadinimasMelynas{color: blue;}
.mygtukas{margin-top: 20px;background-color:white; }
.padidintas-langelis{width: 70%;height: 100px;}
.pasvires-raudonas-tekstas{color: red;font-style: italic;}